<div class="hexmenu">
  <div class="hexitem">
    <img class="hexitem-bullet" src="{{image "hedera-1"}}" />
    <div class="hexitem-text">
      <div class="hexitem-title hextitle t3 c2 heading">{{>linkto (go "/blog") current=current text="WORK LOG"}}</div>
      <div class="hexitem-desc">{{desc "/blog"}}</div>
    </div>
  </div>
  <div class="hexitem">
    <img class="hexitem-bullet" src="{{image "hedera-1"}}" />
    <div class="hexitem-text">
      <div class="hexitem-title hextitle t3 c2 heading">{{>linkto (go "/gallery") current=current text="GALLERY"}}</div>
      <div class="hexitem-desc">{{desc "/gallery"}}</div>
    </div>
  </div>
  <div class="hexitem">
    <img class="hexitem-bullet" src="{{image "hedera-1"}}" />
    <div class="hexitem-text">
      <div class="hexitem-title hextitle t3 c2 heading">{{>linkto (go "/docs") current=current text="DOCS"}}</div>
      <div class="hexitem-desc">{{desc "/docs"}}</div>
    </div>
  </div>
</div>
