{{#if content}}
{{{content}}}
{{else}}
<div class="index tag-index">
  {{#if current.ungrouped.tags.length}}
  <div class="tag-grouping ungrouped-tags">
    <h2 class="hextitle t3 c2">Ungrouped</h2>
    {{#each current.ungrouped.tags}}
    {{>tagCard descr=this.desc current=../current}}
    {{/each}}
  </div>
  {{/if}}
  {{#each current.groups}}
  <div class="tag-grouping grouped-tags group-{{this}}">
    <h2 class="hextitle t3 c2"><span class="grouped-{{this}}"><span class="colorize">&#x2B24;</span></span> {{this}}
    </h2>
    {{#each this.tags}}
    {{>tagCard descr=this.desc current=../../current}}
    {{/each}}
  </div>
  {{/each}}
</div>
{{/if}}