<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />

  <title>{{#if post}}{{post.titlePlain}} - {{/if}}{{#if page}}{{page.titlePlain}} - {{/if}}{{site.titlePlain}}</title>

  <meta name="author" content="0E9B061F" />
  <meta name="description" content="{{#if post}}{{#if post.desc}}{{post.desc}} {{/if}}{{/if}}{{#if page}}{{#if page.desc}}{{page.desc}} {{/if}}{{/if}}{{site.desc}}" />

  <link rel="icon" type="image/png" sizes="16x16" href="/site/favicons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/site/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/site/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/site/favicons/favicon-192x192.png">

  <link href="/site/0E9B061F.css" rel="stylesheet" type="text/css" />
  <script defer="defer" src="/site/0E9B061F.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&family=Courier+Prime:wght@400;700&family=Josefin+Sans:wght@400;600;700&display=swap"
    rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M9SRY5HDP0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-M9SRY5HDP0');
  </script>

  <meta name="robots" content="all">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <div class="page">
    <div class="frontis">
      <div class="top">
        <img class="bowler" src="{{image "bowler3"}}" />
        <p class="code">
          @spec.get_opts.each do |name, opt|
            options[name] = opt.value
            counts[name]  = opt.count
          end
          @spec.get_args.each do |name, arg|
            args &lt;&lt; arg.value
            named[name] = arg.value
          end
          args.flatten!
          args += trailing
          @report = Report.new(args, named, trailing, options, counts)
          if @report.opt(:help)
            self.print_usage()
          end
          unless @spec.get_args.values.all? {|arg| arg.fulfilled? }
            raise InterfaceError, "Required argument '#{name.upcase}' was not given."
          end
          if @spec.trailing_error &amp;&amp; !@report.trailing.empty?
            raise InterfaceError, "Error: got trailing argument(s): #{trailing.join
        </p>
      </div>
      <div class="bottom">
        <h1 class="title heading">
          <div class="title-row line1">
            <span class="software">
              Software
            </span>
          </div>
          <div class="title-row line2">
            <span class="byline">by</span>
            <span class="name">
              {{>link (mask current "/" "0E9B061F")}}
            </span>
          </div>
        </h1>
      </div>
    </div>
    {{#if content}}
    <div class="content {{#if page}}{{page.outName}}-content{{/if}}">
      <div class="deco cat-bar-1">
        <img src="{{image "cat-bar-1"}}" />
      </div>
      <div class="centered"><img class="rule" src="{{image "dash-4"}}" /></div>
      <div class="page-content">
      <div class="page-header">
        <div class="hextitle t1 c1 heading">
          {{#>link (mask current page.href page.title)}}{{{../page.titleHtml}}}{{/link}}
          {{#if post}} &mdash; <span>{{{post.titleHtml}}}</span>{{/if}}
        </div>
        {{#if post}}
          {{#if post.desc}}<div class="page-desc">{{post.desc}}</div>{{/if}}
          {{#if post.isPost}}
          <div class="postnav">
            <div class="postnav-labels">
              <div class="postnav-label postnav-prev" {{#unless post.prev}}style="visibility:hidden" {{/unless}}>PREV</div>
              <div class="page-title heading">
                <div class="post-info">
                  <div class="post-date">{{post.bdate}}</div>
                  <div class="tag-list">
                    {{#each post.taglist}}
                    {{>tagLink this current=../current}}
                    {{/each}}
                  </div>
                </div>
              </div>
              <div class="postnav-label postnav-next" {{#unless post.next}}style="visibility:hidden" {{/unless}}>NEXT</div>
            </div>
            <div class="postnav-titles">
              <div class="postnav-title postnav-prev">
                {{#if post.prev}}
                <a class="link active button" href="{{post.prev.href}}">{{{post.prev.titleHtml}}}</a>
                {{/if}}
              </div>
              <div class="postnav-title postnav-next">
                {{#if post.next}}
                <a class="link active button" href="{{post.next.href}}">{{{post.next.titleHtml}}}</a>
                {{/if}}
              </div>
            </div>
          </div>
          {{/if}}
        {{else}}
          {{#if page.desc}}<div class="page-desc">{{page.desc}}</div>{{/if}}
        {{/if}}
      </div>
      {{{content}}}
      </div>
    </div>
    {{else}}
    <div class="home">
      <img class="rule" src="{{image "dash-4"}}" />
      {{{home}}}
    </div>
    {{/if}}
    <div class="home foot">
    <img class="rule start-contact" src="{{image "dash-4"}}" />

    <div class="contact-heading">
      <img class="phoneman" src="{{image "contact"}}" />
      <div class="aligner"><h2 class="contact-title">Directory</h2></div>
    </div>

    <div class="contact-area">
      <img class="phoneman" src="{{image "contact"}}" />
      <dl class="directory">
        <div class="pair">
          <dt>Email</dt>
          <div class="spacer"><div class="bar"></div></div>
          <div class="aligner"><dd><a class="link active" href="mailto:0E9B061F@protonmail.com">0E9B061F@protonmail.com</a></dd></div>
        </div>
        <div class="pair">
          <dt>Personal&nbsp;Site</dt>
          <div class="spacer"><div class="bar"></div></div>
          <div class="aligner"><dd><a href="https://0x2764.com">0x2764.com</a></dd></div>
        </div>
        <div class="pair">
          <dt>GitHub</dt>
          <div class="spacer"><div class="bar"></div></div>
          <div class="aligner"><dd><a class="link active" href="https://github.com/0E9B061F">github.com/0E9B061F</a></dd></div>
        </div>
        <div class="pair">
          <dt>GitLab</dt>
          <div class="spacer">
            <div class="bar"></div>
          </div>
          <div class="aligner">
            <dd><a class="link active" href="https://gitlab.com/0E9B061F">gitlab.com/0E9B061F</a></dd>
          </div>
        </div>
        <div class="pair">
          <dt>NPM&nbsp;Packages</dt>
          <div class="spacer"><div class="bar"></div></div>
          <div class="aligner"><dd><a class="link active" href="https://npmjs.com/~0e9b061f">npmjs.com/~0e9b061f</a></dd></div>
        </div>
        <div class="pair">
          <dt>Keybase</dt>
          <div class="spacer"><div class="bar"></div></div>
          <div class="aligner"><dd><a class="link active" href="https://keybase.io/0e9b061f">keybase.io/0e9b061f</a></dd></div>
        </div>
        <div class="multiline">
          <div class="pair">
            <dt>Mirrors</dt>
            <div class="spacer"><div class="bar"></div></div>
            <div class="aligner">
              <dd><a class="link active" href="https://downtranslated.com">downtranslated.com</a></dd>
            </div>
          </div>
          <div class="pair">
            <div class="spacer">
            </div>
            <dd><a class="link active" href="https://0E9B061F.github.io">0E9B061F.github.io</a></dd>
          </div>
          <div class="pair">
            <div class="spacer">
            </div>
            <dd><a class="link active" href="https://0E9B061F.gitlab.io">0E9B061F.gitlab.io</a></dd>
          </div>
        </div>
      </dl>
    </div>
    </div>
  </div>
  <div class="sidebar">
    {{>menu}}

    {{#if toc}}
    <div class="toc">
      <div class="hextitle t3 c2 hexblock">TABLE OF CONTENTS</div>
      <div class="hextxt t4">
        {{{toc}}}
      </div>
    </div>
    {{/if}}

    {{#unless hideSideIndex}}
    {{>portal listing=long}}
    {{/unless}}

    <div class="foot">
      <div class="centered">
        <img class="asterism" src="{{image "frog-bicycle-4"}}" />
      </div>
    </div>
  </div>
</body>

</html>
